html {
  background-color: #05668d;
}

.navbar {
  background-color: #4a4e69 !important;
}

.navbar .navbar-nav li a {
  color: #f1faee;
  font-size: 1.2vw;
}

.row.px-2 {
  background-color: #05668d;
}

.name-list {
  height: 175px;
  max-width: 270px;
}

.konten {
  margin-top: 5%;
}

.addbox {
  background-color: #05668d;
  margin-top: 10%;
}

a.card-content {
  color: inherit;
  text-decoration: underline;
}

.tambah {
  color: #f1faee;
}
