{% extends 'base.html' %}{% load static %}
{% block content %}
<div class="addbox">
    <form class="d-flex justify-content-center align-items-center flex-column" action="{% url 'story6:add-kegiatan' %}" method="POST">
        <h3 class="tambah">Tambahkan Kegiatan</h3>
        {% csrf_token %}
        {{form_kegiatan}}
        <input class="btn btn-secondary mt-2" type="submit" value="Tambah Kegiatan">
    </form>
</div>
{% endblock %}