{% extends 'base.html' %}{% load static %}
{% block content %}
<div class="row px-2">
    {% for kegiatan in kegiatans %}
    <div class="col-lg-3 col-md-6 col-sm-12 konten">
        <div class="bg-secondary p-2 rounded-lg text-light d-flex justify-content-center align-items-center flex-column mb-3 border border-dark">
            <h3 class="card-content">{{kegiatan.name}}</h3>
            <h5>Peserta:</h5>
            <div class="overflow-auto name-list">
                <ol class="px-5">
                    {% for peserta in kegiatan.peserta.all %}
                        <li>
                            {{peserta.name}}
                            <form action="{% url 'story6:delete_peserta' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value={{kegiatan.id}} name="kegiatan_id">
                                <button class="ml-1 px-1 text-light border-0 p-0 bg-danger d-inline" value="{{peserta.name}}" name="name" type="submit">X</button>
                            </form>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <div>
                <form action="{% url 'story6:add_peserta' id=kegiatan.id %}" method="POST" class="d-flex justify-content-center align-items-center flex-column mt-2">
                    {% csrf_token %}
                    {{pesertaform}}
                    <input class="btn btn-light mt-2" type="submit" value="Tambah Peserta">
                </form>
            </div>
        <div>
    </div>
</div>
</div>
    {% endfor %}
</div>
    
{% endblock %}